/*****************************************************

    Title

****************************************************/

:root {
		/*Shades of grey*/
		--black:hsl(215, 5%, 5%);
		--grey-dark:hsl(215, 10%, 20%);
		--grey-med:hsl(215, 10%, 40%);
		--grey-light:hsl(215, 10%, 60%);
		--white:hsl(215, 95%, 95%);

		/*Main Color*/
		--main-color:hsl(215, 50%, 20%);
		--main-bright:hsl(215, 50%, 40%);
		--main-muted:hsl(215, 50%, 60%);

		/*Accent*/
		--accent-color:hsl(160, 100%, 20%);
		--accent-bright:hsl(160, 100%, 40%);
		--accent-muted:hsl(160, 100%, 60%);
	}

/* base styles */
	/*----------------------------------------------
		Base: styles by simple html element
	------------------------------------------------*/
	body {
		font-family: 'Raleway', sans-serif;
		color:var(--grey-med);
		border:5px dotted red;
	}

	header, footer{
		border: 5px dotted orange;
		background-color: var(--main-color);
		color: var(--grey-light);
	}

	footer {
		text-align: center;
	}



	main {
		border:5px dotted yellow;
	}

/*classes and IDs*/
	/*----------------------------------------------
		class styles
	------------------------------------------------*/
  .jtextMuted {
  	color:var(--grey-light);
  }

  .jnoList {
  	list-style-type: none;
  }

  .jlogo {
  	max-width: 7em;

  }


/*For checking my boxes*/
.jborderRed {
	border: 5px solid red;
}

.jborderOrange {
	border: 5px solid red;
}

.jborderYellow {
	border: 5px solid red;
}

.jborderGreen {
	border: 5px solid red;
}

.jborderBlue {
	border: 5px solid red;
}

.jborderPurple {
	border: 5px solid red;
}


	
/*media*/



/*color swatch*/
  /*****************************************************
      Colors: this section for design purposes - to be deleted later
  ****************************************************/
  
  .swatch-text {
  	padding: 0.5em;
    color: var(--black);
    text-align: center;
   }

  .swatch-block {
	padding: 2em;
    color: var(--black);
    text-align: center;
    vertical-align: bottom;
   }

  .black{
    color: var(--white);
    background-color: var(--black);
  }

  .grey-dark{
    color: var(--white);
    background-color: var(--grey-dark);
  }

  .grey-med{
    background-color: var(--grey-med);
  }

  .grey-light{
    background-color: var(--grey-light);
  }

  .white{
    background-color: var(--white);
  }

  .main-color {
    color: var(--white);
      background-color: var(--main-color);
  }

  .main-bright {
    color: var(--black);
    background-color: var(--main-bright);
  }

  .main-muted {
    color: var(--black);
    background-color: var(--main-muted);
  }

  .accent-color {
    color: var(--white);
    background-color: var(--accent-color);
  }

  .accent-muted {
    background-color: var(--accent-muted );
  }

  .accent-bright {
    background-color: var(--accent-bright);
  }