/*****************************************************
     Title: Jill Stapleton - Nine Box styles
     
     Note that most styles are inherited from my main css file, 
     what you see here is just what's different frm the base styles page

     Styling conventions:
     1. Most styles are in the main css stylesheet. Page specific styles are here
     2. Naming convention: 
     	a. custom classes bagin with a j: this helps me separate my own styling from the framework styling
     	b. similarly, custom classes that trigger javascript actions begin with jj.
****************************************************/

/*Colors*/

  /*----------------------------------------------
    Color Variables
  ------------------------------------------------*/

	:root {
		/*Shades of Grey*/
		--black:hsl(40, 5%, 5%);
		--grey-dark:hsl(40, 10%, 20%);
		--grey-med:hsl(40, 10%, 40%);
		--grey-light:hsl(40, 10%, 60%);
		--white:hsl(40, 95%, 95%);

		/*Main Color*/
		--main-color:hsl(40, 80%, 20%);
		--main-bright:hsl(40, 80%, 40%);
		--main-muted:hsl(40, 80%, 60%);

		/*Accent*/
		--accent-color:hsl(305, 20%, 20%);
		--accent-bright:hsl(305, 20%, 40%);
		--accent-muted:hsl(305, 20%, 60%);
	}

/*base styles*/
	/*----------------------------------------------
	Base: styles by simple html element
	------------------------------------------------*/

	header, footer{
		padding: 1em;
	}

/*nine-box styles*/
	/*----------------------------------------------
	classes specific to the nine-box layout (header, footer, asside, main plus 3 subs)
	------------------------------------------------*/

	.jnine-box {
		background-color: var(--white) ;
	}

	.jborderLightGreen {
		border: 4px solid lightgreen;
	}
	
	.jtinytext {
		font-size: 1px;
	}


